/************************************** Général ************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/************************************** Body ************************************************/
body {
    background: #c7e3eb;
    background: linear-gradient(90deg, rgba(199, 227, 235, 1) 0%, rgba(242, 213, 242, 1) 70%, rgba(255, 229, 186, 1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/************************************** Header ************************************************/
header {
    width: 100%;
}

nav {
    background-color: #ebfffe;
    width: 100%;
    padding: 2em;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
}

li {
    list-style: none;
}

a {
    color: #333;
    font-size: 2em;
    text-decoration: none;
}

li .basket_tt {
    width: 1em;
    font-size: 2em;
    font-weight: 600;
    color: #333;
    text-align: center;
}

li .basket_tt path {
    fill: #333;
}

/************************************** Tableau ************************************************/
main {
    width: 100%;
    padding: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table {
    width: 55%;
    padding: 1em;
    background-color: #fff;
    border: 0.2em solid #fff;
    border-radius: 5%;
}

tr {
    padding: 0.5em;
}

th {
    font-size: 1.5em;
}

td {
    font-size: 1.2em;
    text-align: center;
}

a {
    width: 2em;
}
